/* header */

header {
   display: flex;
   padding: 20px 50px;
   justify-content: space-between;
   align-items: center;
   align-self: stretch;
   background: #2b2b2b;
}
header a {
   color: #fff;
}
header .logo {
   display: flex;
   gap: 12px;
   align-items: center;
}
header .logo img {
   width: 32px;
   height: 32px;
}

header nav,
header .nav-links,
header .nav-button-links {
   display: flex;
   gap: 10px;
   align-items: center;
}

header .nav-links a {
   display: flex;
   height: 46px;
   padding: 0px 20px;
   justify-content: center;
   align-items: center;
   gap: 12px;
   border-radius: 20px;
}
header .nav-button-links a.button {
   padding: 0 30px;
}

/* banner */
.banner-wrapper {
   display: flex;
   gap: 30px;
}
.banner-text-area {
   width: 50%;
   display: flex;
   flex-direction: column;
   gap: 30px;
}
.banner-text-headings {
   display: flex;
   gap: 20px;
   flex-direction: column;
}
.banner-button-wrap {
   display: flex;
   gap: 20px;
}
.banner-additional-info {
   display: flex;
   gap: 30px;
}
.banner-additional-info-single {
   min-width: 110px;
}
.banner-cart {
   display: flex;
   flex-direction: column;
   height: 510px;
}
.banner-cart img {
   max-height: 430px;
   border-radius: 20px 20px 0 0;
   object-fit: cover;
}
.banner-cart-detail {
   display: flex;
   padding: 20px;
   flex-direction: column;
   gap: 10px;
   flex-shrink: 0;
   align-self: stretch;
   border-radius: 0px 0px 20px 20px;
   background: #3b3b3b;
}
.banner-cart-detail-artist {
   display: flex;
   align-items: center;
   gap: 12px;
}
.banner-cart-detail-artist img {
   width: 24px;
   height: 24px;
}

/* trending section */

.trending-collection-row {
   display: flex;
   gap: 30px;
   width: 100%;
}
.trending-collection-card {
   position: relative;
   display: flex;
   flex-direction: column;
   gap: 15px;
   max-width: 330px;
   width: 100%;
   justify-content: space-between;
   transition: all ease 0.3s;
   top: 0;
}
.trending-collection-card:hover {
   top: -10px;
   cursor: pointer;
}
.trending-collection-card-images {
   display: flex;
   flex-direction: column;
   gap: 15px;
}
.trending-collection-card-images img.main-image {
   border-radius: 20px;
   height: 330px;
   object-fit: cover;
}
.trending-collection-card-image-additional {
   display: flex;
   gap: 15px;
}
.trending-collection-card-image-additional img {
   width: 33.33%;
   border-radius: 20px;
   height: 100px;
   object-fit: cover;
}
.trending-collection-card-image-additional .more-images {
   width: 33.33%;
   border-radius: 20px;
   background: var(--primary-color);
   display: flex;
   padding: 32px 15px;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 10px;
}
.trending-collection-detail {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 10px;
}
.trending-collection-detail-avatar {
   display: flex;
   gap: 12px;
   align-items: center;
}
.trending-collection-detail-avatar img {
   width: 24px;
   height: 24px;
}

/* top creators */
.top-creators-row {
   display: flex;
   gap: 30px;
   flex-wrap: wrap;
}
.top-creator-single {
   position: relative;
   max-width: 240px;
   width: 100%;
   display: flex;
   padding: 20px;
   flex-direction: column;
   align-items: center;
   gap: 20px;
   flex: 1 0 0;
   border-radius: 20px;
   background: #3b3b3b;
}
.top-creator-single .ranking-number {
   display: flex;
   width: 30px;
   height: 30px;
   align-items: center;
   position: absolute;
   left: 20px;
   top: 18px;
   border-radius: 50%;
   background: #2b2b2b;
   justify-content: center;
}
.top-creator-single img {
   width: 120px;
   height: 120px;
   object-fit: cover;
   border-radius: 50%;
}
.avatar-detail {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 5px;
   align-self: stretch;
}
.avatar-detail label {
   color: #858584;
}
.additional-info {
   display: flex;
   gap: 10px;
}
.additional-info label,
.additional-info span {
   white-space: nowrap;
}

/* browse category */

.browse-categories-row{
   display: flex;
   flex-wrap: wrap;
   gap: 30px;
   justify-content: center;
}
.category-cart  {
   max-width: 240px;
   width: 100%;
}
.category-cart .category-cart-images {
   overflow: hidden;
   display: flex;
   position: relative;
   align-items: center;
   justify-content: center;
   
}
.category-cart .main-image {
   height: 240px;
   align-self: stretch;
   border-radius: 20px 20px 0px 0px;
   filter: blur(1.5px);
   object-fit: cover;
}
.category-cart .main-icon {
   position: absolute;
   width: 100px;
   height: 100px;
   flex-shrink: 0;
}
.category-cart .category-cart-detail {
   display: flex;
   padding: 20px 30px 25px 30px;
   flex-direction: column;
   align-items: flex-start;
   gap: 25px;
   align-self: stretch;
   background: #3B3B3B;
   border-radius:0 0  20px 20px ;
}
/* discover-more */
.discover-more-row{
   display: flex;
   gap: 30px;
   flex-wrap: wrap;
   justify-content: center;
}

.discover-more-single {
   display: flex;
   border-radius: 20px;
   overflow: hidden;
   flex-direction: column;
   max-width: 330px;
   width: 100%;
}
.discover-more-single .main-image{
   height: 296px;
align-self: stretch;
border-radius: 20px 20px 0px 0px;
object-fit: cover;
}
.discover-more-single .discover-more-detail{
   display: flex;
   padding: 20px 30px 25px 30px;
   flex-direction: column;
   align-items: flex-start;
   gap: 25px;
   align-self: stretch;
   background: #3B3B3B;
}
.discover-more-single .artist-info{
   display: flex;
   flex-direction: column;
   gap: 5px;
}
.discover-more-single .artist-avatar-name {
 display: flex;
 gap: 12px;
 align-items: center;
}
.discover-more-single .artist-avatar-name img{
   width: 24px;
   height: 24px;
   flex-shrink: 0;
   border-radius: 50%;
}
.discover-more-single .additional-info {
   display: flex;
   justify-content: space-between;
   gap: 24px;
   width: 100%;

}
.discover-more-single .additional-info .additional-info-single{
display: flex;
flex-direction: column;
gap: 8px;
}
.discover-more-single .additional-info .additional-info-single .caption{
   color: #858584;
}
.discover-more-single .additional-info .additional-info-single.highest-bid{
   align-items: flex-end;
}
/* homepage-highlight */

.homepage-highlight{
   padding: 0;
   height: 640px;
   background-size: cover;
   object-fit: cover;
   background-image: url(./../images/uploads/NFT\ Highlight.png);
   background-repeat: no-repeat;
   
}
.homepage-highlight-content{
   background: linear-gradient(180deg, rgba(162, 89, 255, 0.00) 0%, #A259FF 100%);
   height: 100%;   
}
.homepage-highlight-info{
   display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
}
.homepage-highlight-info .artist-card{
   display: flex;
   padding: 10px 20px;
   align-items: center;
   gap: 12px;
   border-radius: 20px;
   background: #3B3B3B;  
}
.homepage-highlight-info .artist-card img{
   width: 24px;
   height: 24px;
   border-radius: 50%;
}
.homepage-highlight-frame{
   display: flex;
   padding: 0 120px;
   justify-content: space-between;
   bottom: 60px;
   height: calc(100% - 60px);
   align-items: flex-end;
}
.homepage-highlight-frame .auction-timer{
   display: flex;
   width: auto;
   padding: 30px;
   flex-direction: column;
   justify-content: flex-end;
   align-items: flex-start;
   gap: 10px;
   flex-shrink: 0;
   border-radius: 20px;
   background: rgba(59, 59, 59, 0.50);
   
   backdrop-filter: blur(5px);
}
.timer-countdown{
   display: flex;
   gap: 10px;
}
